body {
    background-color: #e4f9f5;
}
div {
    height: 200px;
    width: 200px;
}
h1 {
    margin: 0;
    font: 1em TTNorms-Bold - 400;
    /* border: solid blue; */
    /* border-width: 0 10px; */

}
image{
    width: min-content;
}
.top-container {
    background-color: #e4f9f5;
}
.middle-container {
    background-color: #f56a79;
}
.bottom-container {
    background-color: #ff414d;
}
