body{
    
}
div{
    position: relative;
}
p{
    /* display: inline;
    text-align: justify; */
    line-height: 30px;
    position: absolute;
    float: right;
}
img{
    position: absolute;
    float: left;
}

.red{
    width: 800px;
    height: 800px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}
.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 0px;
    top: 0px;
}
